body 
{
    overflow-x: hidden!important;
    font-family: 'Source Sans Pro', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    min-height: 850px !important;
    background: linear-gradient(to bottom, rgba(240,202,105,1) 0%, rgba(254,182,69,1) 100%);
}

body#login
{
	background-color: #e4e4e4;
}

.text, label, a,table th
{
	color: #ffffff !important;
	font-weight: normal;
}

select
{
	border: 1px solid #a43138;
}
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #62287b !important;
}
input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder { /* Firefox 19+ */
    color: #62287b !important;
}
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder { /* IE 10+ */
    color: #62287b !important;
}
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder{ /* Firefox 18- */
    color: #62287b !important;
}

/* ------- home ----- */

#login .contenedor
{
	margin-top: 120px !important;
}

div#login-form
{
	width: 45%;
	margin-right: 5% !important;
	float: left;
	position:relative;
	color: #000000;
	padding: 50px 40px !important;
	text-align: center;
	border:1px solid #bbb;
	border-radius:30px;
	z-index:0;
	height: 460px; /*AQUi para formulario*/
}

.nx-social 
{
    float: right;
    height: 67px;
    padding-top: 28px;
}

div#login-form input, div#login-form a
{
	color: #000000 !important;
}

div#login-form a
{
	font-size: 1em;
}

#login #bienvenida
{
	color: #62287b;
	float: left;
	width: 50%;
}

#login #bienvenida h1
{
	font-size: 4em;
	color:  #62287b;
	font-weight: 700;
}

#login #bienvenida p
{
	margin-bottom: 30px;
}

div#login-form i 
{
	display: inline-block;
	margin: 0 0 0 10px;
	width: 22px;
	height: 22px;
	vertical-align: middle;
}

div#login-form i.user 
{
	background-image: url('../../img/login-user.png');
	background-position: center center;
	background-repeat: no-repeat;
}

div#login-form i.password 
{
	background-image: url('../../img/login-pass.png');
	background-position: center center;
	background-repeat: no-repeat;
}

div#login-form .submit {
    background-image: url('../../img/login-submit.png');
    background-position: center center;
    background-repeat: no-repeat;
}

div#login-form .submit:hover {
    background-image: url('../../img/login-submit-hover%20(1.html).png');
    background-position: center center;
    background-repeat: no-repeat;
}

div#login-form p span {
	display: inline-block;
	width: 250px;
	text-align: center;     
}

h1 {
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top:0px !important;
}

#login .footer img {
	vertical-align: bottom;
	margin-right: 40px;
}

.logos-login {
    float:left;
}

.nx-center {
    margin:auto;
    margin-bottom:10px;
    text-align:center;  
}

div.contenedor {
    position: relative;
	padding: 15px;
	padding-left:15px;
	margin: auto;
	max-width: 860px;
}

.no-padding {
  margin: -9px;
  padding: 0px !important;
}

div#login-form .logo-nexus {
	margin-left: -24px;
	margin-bottom: 20px;	
}

/*nex*/
div#login-form .submit {
	display: inline-block;
	border: none;
	margin-top: 10px;
	width: 46px;
	height: 46px;
	background-color: transparent;
	background-image: url('../../img/login-submit.png');
	background-position: center center;
	background-repeat: no-repeat;
}

div#login-form .submit:hover{
	background-image: url('../../img/login-submit-hover%20(1.html).png');
}

.row {
    border: none !important;
    box-shadow: none !important;
}

.btn-social-icon {
    text-align: left;
    line-height: 34px !important;
    font-size: 1.6em!important;
}
	
body#login .footer {
    margin-top: 550px;
    clear: both;
	overflow:hidden;
}

div#login-form input[type="text"],
div#login-form input[type="password"] {
    border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	padding: 4px 10px;
    line-height: 1.3em;
	width: 200px;
	background-color: rgba(255, 255, 255, 0.2);
	font-size: 1.255em;
	text-align: left;
	font-weight: bold;
}
    
::-webkit-input-placeholder { /* WebKit browsers */
    color: #c49d43 !important;
    font-weight: normal;
    font-size: 0.9em;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #c49d43 !important;
    font-weight: normal;
    font-size: 0.9em;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #c49d43 !important;
    font-weight: normal;
    font-size: 0.9em;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #c49d43 !important;
   	font-weight: normal;
   	font-size: 0.9em;
}

.btn-twitter:hover {
    color: #55acee !important;
}
    
.btn-facebook:hover {
    color: #3b5998 !important;
}

.info:hover
{
    color: #146ab0 !important;
    text-decoration: underline !important;
}
    
#slider 
{
    background-image: url('../../img/nexus-login0.png') !important;
    background-repeat: no-repeat !important;
    margin-top: 10px;
    width: 500px;
    height: 500px;
    float: left;
	position: relative;
	left: -100px;
}
    
.recado 
{
    display: block !important;
    margin: -50px auto;
    margin-top: 58px;
    width: 55% !important;
    left: 33px !important;
    position: relative;
}
    
/* ------ Modal Registro ------- */
.modal-title
{
    border-bottom: 5px solid #a43138;
}
    
#msgbox .modal-body
{
    padding: 20px !important;
	width: 300px !important;
	height: 60px !important;
}
    
.modal-dialog
{
    width: 300px !important;
}

.modal-body h4
{
    margin-top:-15px;
}
/* ---------------------- */

@media (min-width: 100px) and (max-width: 460px)
/* Para pantallas con resolucion de 300px a 390px */ 
{
    #login #login-form,#login #bienvenida {
		width: 90%;
		float: none;
		margin: 20px 5% !important;
	}
	
	div#login-form .logo-nexus 
    {
	    margin-left: -48px;
	    margin-bottom: 20px;	
    }
	
	#login .contenedor {
		margin-top: 10px !important;
	}
	
	div.contenedor
	{
	    position: relative;
	    padding: 20px;
	    padding-left:20px;
	    margin: auto !important;
	    width: 320px;
    }
	
	#login #bienvenida {
		text-align: center;
	}
	
	#login #bienvenida h1
    {
	    font-size: 3em;
	    color:  #62287b;
	    font-weight: 700;
    }
    
    div#login-form p span {
	    display: inline-block;
	    width: 200px;
	    text-align: center;     
    }
    
    div#login-form input[type="text"],
    div#login-form input[type="password"] 
    {
	    border-style: solid;
	    border-width: 1px;
	    border-radius: 2px;
	    padding: 4px 10px;
        line-height: 1.3em;
	    width: 160px;
	    background-color: rgba(255, 255, 255, 0.2);
	    font-size: 1.255em;
	    text-align: left;
	    font-weight: bold;
    } 
	
	#login .footer {
		margin:20px !important;
		padding: 20px;
	}
	
	.nx-social
	{
	    float:none;
	    width:100%;
	    text-align:center;
	}
	
	.logos-login
	{
	    width:100%;
	    text-align:center;
	    margin-bottom:20px;
	}
	
	body#login .footer
	{
	    overflow:visible;
	}

    div.contenedor
	{
	    position: relative;
	    padding: 20px;
	    padding-left:20px;
	    margin: auto !important;
	    max-width: 500px;
    }
    
    #login .footer img
    {
	    vertical-align: bottom;
	    margin-right: 0px;
    }
    
    .modal-dialog
    {
	    width: 300px !important;
	    height: 200px !important;
	    margin: auto !important;
    }
    
    .modal-content
    {
       margin-top:30px !important; 
    }
    
    #slider
    {
	    left: -145px;
    }
}

@media (min-width: 460px) and (max-width: 780px) 
{
	#login #login-form,#login #bienvenida {
		width: 90%;
		float: none;
		margin: 20px 5% !important;
	}
	
	#login .contenedor {
		margin-top: 30px !important;
	}
	
	#login #bienvenida {
		text-align: center;
	}
	
	#login .footer {
		margin:20px !important;
		padding: 20px;
	}
	
	.nx-social
	{
	    float:none;
	    width:100%;
	    text-align:center;
	}
	
	.logos-login
	{
	    width:100%;
	    text-align:center;
	    margin-bottom:20px;
	}
	
	body#login .footer
	{
	    overflow:visible;
	}

    div.contenedor
	{
	    position: relative;
	    padding: 20px;
	    padding-left:20px;
	    margin: auto !important;
	    max-width: 500px;
    }
    
    #login .footer img
    {
	    vertical-align: bottom;
	    margin-right: 0px;
    }
    
    .modal-dialog
    {
	    width: 300px !important;
	    height: 200px !important;
	    margin: auto !important;
    }
    
    .modal-content
    {
       margin-top:30px !important; 
    }
    
    #slider
    {
	    left: -60px;
    }
}



